<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title><%= title %></title>
  </head>
  <body>
    <div id = "infoDiv" class="alert alert-success" style=<% if (created) {%>"display: block"<% }else{%>"display: none"<%} %>>Заявка отправлена!</div>
    <div id = "errorDiv" class="alert alert-danger" style=<% if (error) {%>"display: block"<% }else{%>"display: none"<%} %>>Что то пошло не так, попробуйте позже!</div>

    <div class="container py-5 h-100" style="max-width: 50%">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <h2 class="text-center"><%= title %></h2>

            <form action="/" method="post" id="appform" class="card-body p-md-5 text-black">
              <div class="form-group mb-2">
                <label class="form-label" for="fio">ФИО</label>
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    name="fio"
                    id="fio"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="numberPhone"
                    >Номер телефона</label
                  >
                  <input
                    type="text"
                    name="numberPhone"
                    id="numberPhone"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="title">Опишите проблему</label>
                  <textarea
                    rows="10"
                    cols="45"
                    name="title"
                    id="title"
                    class="form-control form-control-lg"
                  ></textarea>
                </div>
              </div>
              <div class="form-outline mb-4 text-center">
                <button class="btn btn-primary" type="submit">Отправить</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="/app.js"></script>
  </body>
</html>
